
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    background: linear-gradient(to left, rgb(11, 143, 136), rgb(229, 229, 229));
}

.container{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 129vh;
}

header{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: rgb(44, 177, 30);
    border-radius: 40px;
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
    color: rgb(233, 233, 233);
}


main{
    display: flex;
    flex: 1;
}
.form{
    width: 30%;
    height: 72%;
    margin-top: 60px;
    color: rgb(2, 0, 139);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    padding: 10px 30px;
}

.form , .admit-card{
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.001);
}

.form form{
    width: 100%;
}

.form form div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0;
}

.form form div label{
    margin-bottom: 5px;
}

.form form div input.radios{
    width: 5%;
}

.form form div input{
    width: 80%;
    padding: 5px 0;
    border: none;
    outline: none;
    color:blue;
    border-bottom: 2px solid #000;
    background: transparent;
    font-size: 1rem;
}

.buttons button{
    padding: 10px 30px;
    border: none;
    border-radius: 0;
    background:green;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
    transition: .2s;
}

.buttons button:hover{
    background: linear-gradient(to right, rgb(181, 104, 15), rgb(25, 17, 144));
}


.output{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    color: #fff;
}

.output .admit-card{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    position: relative;
    padding: 30px 40px 20px;
    border-radius: 20px;
    margin: 10px 20px;
}

.output .admit-card .cross{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;

}
.output .admit-card .details{
    display: flex;
    flex-direction: column;

}
.output .admit-card .image{
    width: auto;
    height: 150px;
    
}
.output .admit-card .image img{
    width: 200%;
    height: 100%;
}
.vert{
    border-left: 1px solid rgb(114, 114, 114);
    height: 90%;
    position: absolute;
    left: 40%;
    margin-left: -1px;
    margin-top: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}